<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout :: layout('관리자 페이지 :: 배너', ~{::section})}">
<body>
<section>
    <div class="py-5 text-center">
        <h2>상품</h2>
        <div class="d-flex gap-2 justify-content-center py-5">
            <p class="btn btn-secondary rounded-pill px-3" type="button">
                <a th:href="@{|/manage|}" style="color: white">홈으로</a>
            </p>
        </div>
    </div>

    <div class="alert alert-info d-flex align-items-center" role="alert">
        <div>
            상품 관리를 위한 페이지입니다.<br>
            상품 추가, 수정, 삭제가 가능합니다.<br><br>
            삭제는 이미 교환이 된 상품은 삭제할 수 없습니다.
        </div>
    </div>

    <hr class="my-4">
    <div style="margin-bottom: 20px">
        <form method="post" th:object="${object}" th:action="@{|/manage/product/create|}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="product-name" class="form-label">상품명</label>
                <input id="product-name" type="text" class="form-control" th:field="*{name}"
                       placeholder="상품명">
            </div>
            <div class="mb-3">
                <label for="product-description" class="form-label">상품 설명</label>
                <input id="product-description" type="text" class="form-control" th:field="*{description}"
                       placeholder="상품 설명">
            </div>
            <div class="mb-3">
                <label for="product-quantity" class="form-label">수량</label>
                <input id="product-quantity" type="number" class="form-control" th:field="*{quantity}"
                       placeholder="수량">
            </div>
            <div class="mb-3">
                <label for="product-required-heart" class="form-label">필요 하트 수</label>
                <input id="product-required-heart" type="number" class="form-control" th:field="*{requiredHeart}"
                       placeholder="필요 하트 수">
            </div>
            <button class="btn btn-primary float-end" type="submit">추가</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">상품명</th>
                <th scope="col">상품 설명</th>
                <th scope="col">수량</th>
                <th scope="col">필요 하트 수</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.requiredHeart}"></td>
                <td>
                    <div class="btn-group">
                        <form method="post" th:action="@{|/manage/product/${product.id}/delete|}">
                            <button class="btn btn-primary me-md-2" type="submit">삭제</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>


        </table>
    </div>
</section>
</body>
</html>